#html{
margin:0px;
  width:  100%;
  height: 100%;
}
body{
width:  100%;
height: 100%;
margin:0px;
overflow:hidden;
}
#main{
width:100%;
height:100%;
}
#left{
width:260px;
height:100%;
float:left;
background:grey;
border-right: 3px solid black;
}
#right{
width:calc(100% - 263px);
height:100%;
float:left;
}
#logo{
padding-top:6px;
}
h1{
width: 260px;
font-family: Arial;
font-size: 30px;
color: white;
margin: 0px;
text-align: center;
margin-top: 5px;
}
hr{
width:260px;
color:black;
background:black;
height:2px;
margin-left: -1px;
border-color:black;
}

#stage-canvas{

}
.stage-object{
float:left;
margin:15px;
}
#stage-front{
position:fixed;
right:0px;
bottom:0px;
width:calc(100% - 263px);
pointer-events: none;
}

#canvas-container {
    /*width: 2000px;*/
    /*height: 2000px;*/
    width: 100%;
    height: 100%;
}
#canvas-container.over {
}
#images img.img_dragging {
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

#deleteButton{
position:fixed;
right:0;
top:0;
width: 150px;
height: 40px;
cursor: pointer;
background-color:red;
}

#buttonnotepad{
position:fixed;
right:0px;
bottom:0px;
width: 150;
height: 40;
}
#notepad{
height:600px;
width:400px;
position:fixed;
right:-500px;
top:50px;
border:solid 4px black;
font-size:25px;
font-family:arial;
}
#buttonnotepadin{
position:fixed;
right:-50px;
top:650px;
width: 25;
height: 30;
font-size:18px;
}
#text1{
position:fixed;
left:270px;
bottom:0px;
font-size:16px;
font-family:arial;
color:white;
}
#saveImg{
position:fixed;
left:0px;
bottom:0px;
}
#clearb{
position:fixed;
right:0px;
top:42px;
width: 150px;
height: 40px;
}
#saveb{
position:fixed;
right:60px;
top:650px;
font-size:40px;
}
#dupB{
position:fixed;
right:0px;
top:90px;
width: 150;
height: 40;
}
