html, body{
    margin:0;
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: 260px auto 0;
    grid-template-rows: 100% 100% 100%;
}
#left{
    grid-area: left;
    background: grey;
    position: relative;
    overflow: hidden;
}
#logo{
    padding-top:6px;
}
h1{
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: white;
    margin: 0;
    text-align: center;
    margin-top: 5px;
}
#hr1{
    width: 100%;
    background: black;
    height: 2px;
    border: none;
}
.stage-object{
    float:left;
    margin:15px;
}
#aboutText{
    width: 100%;
    border-top: 1px black solid;
    position: absolute;
    bottom: 0;
    left: 0;
}
#middle{
    grid-area: middle;
    position: relative;
    overflow: hidden;
}

#canvas-container {
    width: 100%;
    height: 100%;
}
#stage-front{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

#buttons-container{
    position: absolute;
    right: 0;
    top: 0;
    border-left: 2px solid #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
}

.button{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: url('images/icons/trash.png');
    background-repeat: no-repeat;
    background-size: 50px;
    float: left;
    cursor: pointer;
}
#separator{
    float: left;
    width: 2px;
    height: 60px;
    background: #d9d9d9;
}
#edit{
    background: url('images/icons/edit.png');
    background-repeat: no-repeat;
    background-size: 50px;
}
#duplicate{
    background: url('images/icons/duplicate.png');
    background-repeat: no-repeat;
    background-size: 50px;
}
#clear{
    background: url('images/icons/clear.png');
    background-repeat: no-repeat;
    background-size: 50px;
}
#notes{
    background: url('images/icons/notes.png');
    background-repeat: no-repeat;
    background-size: 50px;
}
#info{
    background: url('images/icons/info.png');
    background-repeat: no-repeat;
    background-size: 50px;
}
#save{
    background: url('images/icons/save.png');
    background-repeat: no-repeat;
    background-size: 50px;
}

#right{
    grid-area: right;
    display: none;
}

.container{
    width: 100%;
    height: 100%;
    border-left: 2px solid #d9d9d9;
    margin-left: -2px;
}
.right-title{
    height: 60px;
    border-bottom: 2px solid #d9d9d9;
}
#close-right{
    background: url('images/icons/back.png');
    background-repeat: no-repeat;
    background-size: 20px;
    height: 100%;
    width: 20px;
    float: left;
    cursor: pointer;
}
h2{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    margin: 0;
    text-align: center;
    float: left;
}
#notes-area{
    height: calc(100% - 65px);
    width: 100%;
    resize: none;
}